apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-configmap
  namespace: chaos
  labels:
    app: postgres
data:
  POSTGRES_DB: flaskapp_db
  POSTGRES_USER: docker_pg
  POSTGRES_PASSWORD: helloworld
  APP_SECRET_KEY: super_duper_secret
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: chaos
  labels:
    app: postgres
spec:
  ports:
  - port: 5432
    name: postgres
  clusterIP: None
  selector:
    app: postgres
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-set
  namespace: chaos
spec:
  serviceName: "postgres"
  replicas: 2
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:11-alpine
        envFrom:
          - configMapRef:
              name: postgres-configmap
        ports:
        - containerPort: 5432
          name: postgredb
        volumeMounts:
        - name: postgredb
          mountPath: /var/lib/postgresql/data
          subPath: postgres
  volumeClaimTemplates:
  - metadata:
      name: postgredb
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: gp2
      resources:
        requests:
          storage: 3Gi
