global:
  postgresql: {}
image:
  registry: docker.io
  repository: bitnami/postgresql
  tag: 11.5.0-debian-9-r34
  pullPolicy: IfNotPresent
  debug: false
volumePermissions:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/minideb
    tag: stretch
    pullPolicy: Always
  securityContext:
    runAsUser: 0
securityContext:
  enabled: true
  fsGroup: 1001
  runAsUser: 1001
serviceAccount:
  enabled: false
replication:
  enabled: true
  user: repl_user
  password: repl_password
  slaveReplicas: 2
  synchronousCommit: "on"
  numSynchronousReplicas: 1
  applicationName: my_application
postgresqlUsername: postgres
postgresqlDataDir: /bitnami/postgresql/data
service:
  type: ClusterIP
  port: 5432
  annotations: {}
persistence:
  enabled: true
  mountPath: /bitnami/postgresql
  subPath: ""
  accessModes:
    - ReadWriteOnce
  size: 8Gi
  annotations: {}
updateStrategy:
  type: RollingUpdate
master:
  nodeSelector: {}
  affinity: {}
  tolerations: []
  podLabels: {}
  podAnnotations: {}
  extraVolumeMounts: []
  extraVolumes: []
slave:
  nodeSelector: {}
  affinity: {}
  tolerations: []
  podLabels: {}
  podAnnotations: {}
  extraVolumeMounts: []
  extraVolumes: []
resources:
  requests:
    memory: 256Mi
    cpu: 250m
networkPolicy:
  enabled: false
  allowExternal: true
livenessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1
readinessProbe:
  enabled: true
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1
